@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800&display=swap");

:root {
  background-attachment: fixed;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  --toastify-color-light: #f2f2f2 !important;
  --toastify-color-dark: #242424 !important;
  --toastify-color-info: #3498db !important;
  --toastify-color-success: #07bc0c !important;
  --toastify-color-warning: #f1c40f !important;
  --toastify-color-error: #e74c3c !important;
  --toastify-font-family: "Montserrat", sans-serif !important;
  --toastify-text-color-light: #545454 !important;
  --toastify-text-color-dark: #cecece !important;
  --toastify-spinner-color: #545454 !important;
  --toastify-spinner-color-empty-area: #cecece !important;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #048d3e,
    #ffcc00
  ) !important;
  --toastify-color-progress-dark: linear-gradient(
    to right,
    #048d3e,
    #ffcc00
  ) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
* {
  margin: 0;
}
body {
  height: 100%;
  overscroll-behavior: none;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #54545420;
  -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-thumb {
  background: #545454;
  -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-corner {
  background: #54545420;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.checkbox-primary:checked {
  background-image: linear-gradient(-45deg, transparent 65%, #048d3e 65.99%),
    linear-gradient(45deg, transparent 75%, #048d3e 75.99%),
    linear-gradient(-45deg, #048d3e 40%, transparent 40.99%),
    linear-gradient(
      45deg,
      #048d3e 30%,
      #fff 30.99%,
      #fff 40%,
      transparent 40.99%
    ),
    linear-gradient(-45deg, #fff 50%, #048d3e 50.99%);
}

.steps {
  .step-primary {
    &:before,
    &:after {
      color: #fff;
    }
  }
}

.spin {
  will-change: filter;
  transition: filter 300ms;
  animation: spin infinite 20s linear;
  &:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ce-block {
  position: relative;
  max-width: 100%;
  transition: background-color 0.15s ease;
}
.ce-block__content {
  position: relative;
  max-width: 100%;
  transition: background-color 0.15s ease;
}

.ce-toolbar__content {
  position: relative;
  max-width: 100%;
}

.ce-header {
  padding: 0;
  margin: 0;
  line-height: 1.25em;
  outline: none;
  @at-root {
    h1#{&} {
      font-size: 2.5em;
      font-weight: 800;
    }
    h2#{&} {
      font-size: 2em;
      font-weight: 700;
    }
    h3#{&} {
      font-size: 1.5em;
      font-weight: 700;
    }
    h4#{&} {
      font-size: 1.4em;
      font-weight: 400;
    }
    h5#{&} {
      font-size: 1.2em;
      font-weight: 300;
      font-style: italic;
    }
  }
}

.ce-delimiter:before {
  content: "" !important;
  border-bottom: #242424 1px solid;
  width: 100%;
  height: 0px !important;
}

.ce-paragraph {
  text-align: justify;
  text-indent: 1.5em;
}

.cdx-quote__text {
  min-height: 158px;
  margin-bottom: 10px;
}

.cdx-input {
  border: none;
  box-shadow: none;
  border-radius: none;
  background: #88888820;
  border-left: #545454 7px solid;
  width: 95%;
  margin: 0 auto;
}

mark {
  @apply bg-secondary bg-opacity-30 text-base-content;
}

.ce-toolbar__settings-btn {
  background-color: #cecece;
}

.ce-toolbar__plus {
  background-color: #cecece;
}

.ce-inline-tool {
  color: #545454;
}

.ce-inline-toolbar__dropdown {
  color: #545454;
}

.ce-conversion-toolbar {
  color: #545454;
}

.cdx-warning {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='5' width='14' height='14' rx='4' stroke='gray' stroke-width='2'/%3E%3Cline x1='12' y1='9' x2='12' y2='12' stroke='gray' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M12 15.02V15.01' stroke='gray' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") !important;
  }
}

.content-parser-wrapper a,
.content-parser-wrapper * a {
  text-decoration: underline;
  &:hover {
    color: #048d3e;
  }
}
